#col2-inicio-img {
  max-width: 80%;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 10px #ccc;
}

#col1-inicio p {
  text-align: justify;
  max-width: 80%;
  font-weight: 100;
  margin: 0 auto 20px;
}

#col1-inicio h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  #inicio {
    margin: 60px 20px 80px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  #col1-inicio p {
    max-width: 80%;
    font-size: 2rem;
  }

  
  
}
